<%- include('../template/header') %>
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedheader/3.2.4/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css" rel="stylesheet" />
<%- include('../template/close_head') %>
<%- include('../template/nav') %>
<script>
    const err = <%- JSON.stringify(error) %>;
    if (err.length >= 1) {
        const error =err[0].errors;
        const textnya = [];
        error.map(function(err) {
            textnya.push('<iconify-icon icon="akar-icons:circle-x" style="color: red;" width="14" height="14"></iconify-icon> ' + err['msg']);
        });
        let hasil = textnya.join(" <br>");
        Swal.fire({
            icon: 'error',
            title: 'Gagal menambah data nikah',
            html: hasil,
        });
    }
    const sukses = '<%=sukses%>';
    if (sukses != ''){
        Swal.fire({
            icon: 'success',
            title: 'Mantap.',
            html: sukses,
        });
    };
    const gagal = '<%=gagal%>';
    if (gagal != ''){
        const kacau = <%- JSON.stringify(gagal) %>;
        Swal.fire({
            icon: 'error',
            title: 'Oooops',
            html: kacau,
        });
    };
</script>
<table id="tabel" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
    <tr>
        <th>No Register</th>
        <th>Tgl Register</th>
        <th>Status</th>
        <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
    <% datanikah.forEach((dn) =>{%>
        <tr>
            <td><%= dn.noreg%></td>
            <td><%= dn.tglregister.toLocaleDateString("id", { year: 'numeric', month: 'long', day: '2-digit' })%></td>
            <td><%= dn.status%></td>
            <td>
                <a href="/nikah/keluar/detail/<%= dn._id%>">
                    <button type="button" class="btn btn-info">Detail</button>
                </a>
                <a href="/nikah/keluar/edit/<%= dn._id%>">
                    <button type="button" class="btn btn-warning">Edit</button>
                </a>
                <form class="d-inline" action="/nikah/keluar?_method=DELETE" method="post" id="hps-<%= dn._id%>" name="hps-<%= dn._id%>" onclick="hapusform('<%= dn._id%>', '<%= dn.noreg%>')">
                    <input type="hidden" name="id" value="<%= dn._id%>"/>
                    <button type="button" class="btn btn-danger">Hapus</button>
                </form>
            </td>
        </tr>
    <%})%>
    </tbody>
</table>
<div class="mt-3" style="text-align: center;">
    <a class="btn btn-success" href="/nikah/keluar/tambah">
        <span class="iconify" data-icon="carbon:add-alt" style="color: green;" data-width="24" data-height="24"></span>
        Tambah Data
    </a>
</div>

<%- include('../template/footer') %>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#tabel').DataTable( {
            responsive: true
        } );

        new $.fn.dataTable.FixedHeader( table );
    } );
    function hapusform(id, nama){
        const formhps = document.getElementById(`hps-${id}`);
        Swal.fire({
            title: 'Anda Yakin?',
            text: `Ingin menghapus ${nama}`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Batal',
            confirmButtonText: 'Gass hapus'
        }).then((result) => {
            if (result.isConfirmed) {
                formhps.submit();
            }
        })
    }
</script>
<%- include('../template/close_foot') %>